---
import Header from "../components/Header";
import Layout from "../layouts/Layout.astro";
import { UpdateWatchlistForm } from "../components/UpdateUser";

const username = "trial-user";
const watchlistId = "8JWw9ZPsUtkD-14h0Fnzs";

const response = await fetch(
  `https://hh2877m7a0.execute-api.ap-southeast-2.amazonaws.com/users/${username}/watchlist/${watchlistId}`,
  {
    method: "GET",
  }
);

const results = await response.json();
---

<Layout title="Welcome to Astro.">
  <main class="m-auto">
    <Header />
    <div class="flex gap-8 items-end h-[100vh] p-2">
      <div class="bg-red-200 grow-[3] h-full">
        <h1 class="text-6xl">watchlist page</h1>
        <UpdateWatchlistForm client:load />
      </div>
      <div class="bg-blue-200 grow-[7] h-full">
        {
          results.map((movie) => (
            <div class="flex bg-yellow-200 p-14 gap-2">
              <div class="w-48 h-48 bg-purple-300 self-center" />
              <div class="flex flex-col gap-4">
                <h1>
                  {movie.movieDetails.title} {movie.movieDetails.release_date}
                </h1>
                <p>{movie.movieDetails.overview}</p>
                {movie.movieDetails.cast.map((cast) => (
                  <div>
                    <div>
                      {cast.name} as {cast.character}
                    </div>
                  </div>
                ))}
              </div>
            </div>
          ))
        }
      </div>
    </div>
  </main>
</Layout>
